@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport-Light.eot");
    src: local("../fonts/Aeroport/Aeroport Light"), local("Aeroport-Light"),
        url("../fonts/Aeroport/Aeroport-Light.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport-Light.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport-Light.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Aeroport Mono";
    src: url("../fonts/Aeroport/AeroportMono.eot");
    src: local("../fonts/Aeroport/Aeroport Mono"), local("AeroportMono"),
        url("../fonts/Aeroport/AeroportMono.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/AeroportMono.woff2") format("woff2"),
        url("../fonts/Aeroport/AeroportMono.woff") format("woff"),
        url("../fonts/Aeroport/AeroportMono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport-Bold.eot");
    src: local("../fonts/Aeroport/Aeroport Bold"), local("Aeroport-Bold"),
        url("../fonts/Aeroport/Aeroport-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport-Bold.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport-Bold.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport-LightItalic.eot");
    src: local("../fonts/Aeroport/Aeroport Light Italic"),
        local("Aeroport-LightItalic"),
        url("../fonts/Aeroport/Aeroport-LightItalic.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport-LightItalic.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport-LightItalic.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport-BoldItalic.eot");
    src: local("../fonts/Aeroport/Aeroport Bold Italic"),
        local("Aeroport-BoldItalic"),
        url("../fonts/Aeroport/Aeroport-BoldItalic.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport-BoldItalic.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport-BoldItalic.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport-MediumItalic.eot");
    src: local("../fonts/Aeroport/Aeroport Medium Italic"),
        local("Aeroport-MediumItalic"),
        url("../fonts/Aeroport/Aeroport-MediumItalic.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport-MediumItalic.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport-MediumItalic.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport.eot");
    src: local("../fonts/Aeroport/Aeroport"),
        url("../fonts/Aeroport/Aeroport.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport-Italic.eot");
    src: local("../fonts/Aeroport/Aeroport Italic"), local("Aeroport-Italic"),
        url("../fonts/Aeroport/Aeroport-Italic.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport-Italic.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport-Italic.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Aeroport";
    src: url("../fonts/Aeroport/Aeroport-Medium.eot");
    src: local("../fonts/Aeroport/Aeroport Medium"), local("Aeroport-Medium"),
        url("../fonts/Aeroport/Aeroport-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Aeroport/Aeroport-Medium.woff2") format("woff2"),
        url("../fonts/Aeroport/Aeroport-Medium.woff") format("woff"),
        url("../fonts/Aeroport/Aeroport-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
